# sha256: SbOoJSgL1ms6qDWF71nEqMgvLIpSLb51SovI0IyFxJE
docopt==0.6.2

# sha256: uDndLZwRfHAUMMFJlWkYpCOphjtIsJyQ4wpgE-fS9E8
mock==1.0.1

# sha256: liRSYReZh4YW1t9ednTMLDVvkC7QBdxNrp1OebuKvaQ
pytest==2.5.2

# sha256: w2yTiocuX_SUk4szsUqqFWy0OexnVI_Ks1Nbt4sIRug
PyYAML==3.11

# sha256: zFBtZg4dIx76m3ZviM7CztBTlM6Uravd97FJ2ncS5xk
xmltodict==0.9.0

click